* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 32px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    /* border: 1px solid red; */
}

:root {
    --size-2: 0.7rem;
    --bg-latin-to-morse: rgb(227, 170, 109);
    --bg-morse-to-latin: rgb(137, 141, 224);
    --bar-center: 10px;
}

body {
    padding: 10px;
    background-color: rgb(255, 197, 197);
    transition: background-color 0.5s ease;
}

header {
    margin-top: 50px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
}

#barSelector{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    background-color: rgba(245, 245, 245, 0.484);
    height: 100%;
    left: -300px;
    width: 215px;
    transition: left 0.5s ease;
    border-radius: 50px;
}

main {
    margin: 10px;
    margin-top: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: var(--size-2);
    margin-bottom: 10px;
}

input {
    max-width: 25vw;
    font-size: var(--size-2);
}

.output {
    margin-top: 100px;
}