* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 32px;

    text-align: center;
    border: 1px solid red;
}

:root {
    --size-2: 0.7rem;
    --bg-latin-to-morse: rgb(227, 170, 109);
    --bg-morse-to-latin: rgb(137, 141, 224);
    --bar-center: 10px;
}

body {
    padding: 10px;
    /* background-color: var(--bg-latin-to-morse);  */
    background-color: var(--bg-morse-to-latin);
}

ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    cursor: pointer;
    position: relative;
}

#barSelector{
    position: absolute;
    z-index: -1;
    top: 35px;
    background-color: whitesmoke;
    height: 5px;
    width: 100px;
}

main {
    margin: 10px;
    margin-top: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: var(--size-2);
    margin-bottom: 10px;
}

input {
    max-width: 25vw;
    font-size: var(--size-2);
}

.output {
    margin-top: 50px;
}