* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 32px;

    text-align: center;
}

:root {
    --size-2: 0.7rem; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: var(--size-2);
}

input {
    max-width: 25vw;
    font-size: var(--size-2);
}